{% extends "head.html" %}
{% block head %}
    <title>Sign in html page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/sign_in.css') }}">
{% endblock %}
{% block body %}
    <p>This is the sign in html page</p>
    <form action="{{ url_for('sign_in')}}" method="post">
        <label for="email_address">Your email address:</label>
            <br>
            <input type="text" id="email_address" name="email_address" placeholder="your email address">
        <br>
        <label for="password">Your password:</label>
            <br>
            <input type="text" id="password" name="password" placeholder="Your password">
        <br>
        <button type="submit">html forms example</button>
    </form>
    <br><br>
    <form action="/register">
        <input type="submit" value="Go to register page" />
    </form>
    <form action="/password_reset">
        <input type="submit" value="Go to password reset page" />
    </form>
{% endblock %}
